{% extends 'base_admin.html' %}

{% block content %}

<div class="form-box">

    <h2>Tambah Keluhan</h2>

    <form method="POST">

        <input
        type="text"
        name="nama_pelanggan"
        placeholder="Nama Pelanggan"
        required>

        <input
        type="text"
        name="telepon"
        placeholder="No Telepon"
        required>

        <textarea
        name="keluhan"
        placeholder="Keluhan Pelanggan"
        required></textarea>

        <select name="status">

            <option>
                Menunggu
            </option>

            <option>
                Diproses
            </option>

            <option>
                Selesai
            </option>

        </select>

        <button type="submit">
            Simpan
        </button>

    </form>

</div>

{% endblock %}